# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Metro bundler cache
/metro-cache
.expo-dev

# Build outputs
android/
ios/
web-build/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# VS Code
.vscode/

# Environment files
.env
.env.local
.env.*.local
